# Virtual Environment
venv/
**/__pycache__/
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/

# Python Virtual Environment
venv/

# Streamlit secrets file
config.json

compact.py
expanded.py

prompt.txt